<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">ngSimpleGroups</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li class="active"><a href="#/">Home</a></li>
          <li><a ng-href="#/groups" ng-show="navigation.loggedIn()">Groups <i class="glyphicon glyphicon-list"></i></a></li>
          <li><a ng-href="#/about" ng-show="navigation.loggedIn()">About <i class="glyphicon glyphicon-info-sign"></i></a></li>
          <li><a ng-href="#/profile" ng-show="navigation.loggedIn()">Profile <i class="glyphicon glyphicon-user"></i></a></li>
          <li><a ng-href="#/" ng-hide="navigation.loggedIn()" ng-click="navigation.openLogin()"> Log In &nbsp;<i class="glyphicon glyphicon-log-in"></i></a></li>
          <li><a ng-href="#/" ng-show="navigation.loggedIn()" ng-click="navigation.logout()"> Log Out &nbsp;<i class="glyphicon glyphicon-log-out"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
