
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{profile.data.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <img ng-src="{{profile.data.picture}}" alt="{{groupli.group.name}}" class="img-responsive img-circle">
      </div>
      <div class="col-md-10">
        <ul>
          <li><b>E-mail</b>: {{profile.data.email}}</li>
          <li><b>Nickname</b>: {{profile.data.nickname}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
